# install golangci-lint in go Path
curl -sSfL https://golangci-lint.run/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.12.2

export YOUTRACK_RUN_INTEGRATION_TESTS=1
export YOUTRACK_BASE_URL="http://localhost:8080"
export YOUTRACK_TOKEN="..."
